
.img-size{
    max-width: 70px;
    max-width: 70px;
}





















/* .fonts-si2 span{
    position: relative;
    
}

.fonts-si2{
    font-size: 50px;
    color: #06264b;
    font-weight: 500;
  
   
} */


/* .rightimage{

     max-width: 100%;
    height: 100px;
} */
/* .banner-hei{
    margin: 0;
    padding: 0;
    background-image: url(./section-background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   background-attachment: fixed;

    background-color: #d2eaea;
} */

    /* @media screen and (max-width: 600px) {
        .fonts-si2{
            font-size: 43px;
        }
        .button-1{
            background: #06264b;
            color: #fc6539;
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 35px;
            border: none;
        }
        .font-si1{
            
            font-size: 25px;
          
            font-weight: 400;
        }
    } */
